{% extends "base.html" %}

{% block title %}Add Patient{% endblock %}

{% block content %}
<h2>Add Patient</h2>
<form method="POST" action="{{ url_for('add_patient') }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
    </p>
    <p>
        {{ form.age.label }}<br>
        {{ form.age(size=32) }}<br>
    </p>
    <p>
        {{ form.medical_history.label }}<br>
        {{ form.medical_history(cols=32, rows=4) }}<br>
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}
