{% extends "base.html" %}

{% block title %}Edit Appointment{% endblock %}

{% block content %}
<h2>Edit Appointment</h2>
<form method="POST" action="{{ url_for('edit_appointment', appointment_id=appointment.id) }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.date.label }}<br>
        {{ form.date(size=32) }}<br>
    </p>
    <p>
        {{ form.doctor.label }}<br>
        {{ form.doctor(size=32) }}<br>
    </p>
    <p>
        {{ form.patient_id.label }}<br>
        {{ form.patient_id(size=32) }}<br>
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}
